.landing-outer-div {
    height: 100%;
    margin: 0;
}

.landing-img-div {
    background-image: url(../../assets/bkg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-content {
    width: 100%;
    height: 30%;
    padding-top:20%;
}

.landing-content-inner {
    width: 80%;
    padding: 0% 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.landing-btn-usr {
    padding: 12px 50px;
    font-size: 24px;
    background: #ff8675;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

