@import "../../variables.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway');

.schedule-logo {
    padding-top: 30px;
}

.schedule-logo-inner {
    width: 80%;
    padding: 0% 10%;
    text-align: center;
}

.schedule-container-outer {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    height: 500px;
}

.schedule-container-inner {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 2px 2px 2px darkgray;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule-text {
    color: $primaryColor;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.05em;
}

.bold {
    font-weight: bold;
}

.schedule-btn {
    width: 170px;
    margin: 10px;
    padding: 10px 0px;
    font-size: 14px;
    outline: none;
    color: $primaryColor;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    border-radius: 50px;
}

.schedule-btn:hover {
    width: 170px;
    margin: 10px;
    padding: 10px 0px;
    font-size: 14px;
    background-color: $orange;
    color: white;
    outline: none;
}

.schedule-btn-active {
    width: 170px;
    margin: 10px;
    padding: 10px 0px;
    font-size: 14px;
    background-color: $orange;
    color: white;
    outline: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    border-radius: 50px;
}

.back-btn {
    position: absolute;
    left: 30px;
    top: 30px;
    height: 20px;
}

