.schedule-logo {
    padding-top: 30px;
}

.schedule-logo-inner {
    width: 80%;
    padding: 0% 10%;
    text-align: center;
}

.schedule-container-outer {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    height: 500px;
}

.schedule-container-inner {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 2px 2px 2px darkgray;
    height: 100%;
    text-align: center;
    position: relative;
}

.schedule-btn {
    width: 170px;
    margin: 10px;
    padding: 10px 0px;
    font-size: 14px;
    outline: none;
}

.schedule-btn-active {
    width: 170px;
    margin: 10px;
    padding: 10px 0px;
    font-size: 14px;
    background-color: #E57B87;
    color: white;
    outline: none;
}